USE [master]
GO
/****** Object:  Database [PPC]    Script Date: 17/10/2018 18:00:47 ******/
CREATE DATABASE [PPC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PPC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PPC.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PPC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PPC_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PPC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PPC]
GO
/****** Object:  Table [dbo].[ATAS_REUNIOES]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ATAS_REUNIOES](
	[ID_DATAS_REUNIOES] [int] NOT NULL,
	[DATA_ATA_REUNIAO] [date] NOT NULL,
	[LOCAL] [varchar](50) NOT NULL,
	[PARTICIPANTES] [varchar](500) NOT NULL,
	[DELIBERACORES] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AVALIACOES_CURSO]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVALIACOES_CURSO](
	[ID_AVALIACAOCURSO] [nchar](10) NULL,
	[ID_USUARIO] [int] NULL,
	[CONTEXTO_EDUCACIONAL] [int] NULL,
	[AUTO_AVALIACAO] [int] NULL,
	[OBJETIVOS_DO_CURSO] [int] NULL,
	[PERFIL_PROFISSIONAL_EGRESSO] [int] NULL,
	[NUMERO_DE_VAGAS] [int] NULL,
	[CA_PPC_FORMACAO] [int] NULL,
	[ESTRUTURA_CURRICULAR] [int] NULL,
	[CONTEUDOS_CURRICULARES] [int] NULL,
	[METODOLOGIA] [int] NULL,
	[ATENDIMENTO_AO_DISCENTE] [int] NULL,
	[ADM_ACADEMICA] [int] NULL,
	[COMPOSICAO_NDE] [int] NULL,
	[REGIME_DE_TRABALHO_NDE] [int] NULL,
	[TITULACAO_DO_NDE] [int] NULL,
	[EXPERIENCIA_PROF_NDE] [int] NULL,
	[TITULACAO] [int] NULL,
	[FORMACAO_ACADEMICA] [int] NULL,
	[EXPERIENCIA_DO_COORDENADOR] [int] NULL,
	[REGIME_DE_TRABALHO] [int] NULL,
	[COMP_FUNCIO_COLEGIADO_DE_CURSO] [int] NULL,
	[PERFIL_DOCENTES] [int] NULL,
	[TITULACAO_DO_CORPO_DOCENTE] [int] NULL,
	[REGIME_DE_TRABALHO_DOCENTE] [int] NULL,
	[TEMPO_EXPERIENCIA_MAGIS_SUPERIOR] [int] NULL,
	[TEMPO_EXPERIENCIA_PROFISSIONAL_MAGISTERIO] [int] NULL,
	[TEMPO_EXPERIENCIA_PROFISSIONAL] [int] NULL,
	[CONDICOES_DE_TRABALHO] [int] NULL,
	[NUMEROS_DE_ALUNOS_POR_TURMA_POR_DISC_TEORICA] [int] NULL,
	[NUMERO_MEDIO_DISCIPLINAS_POR_DOCENTE] [int] NULL,
	[PESQUISA] [int] NULL,
	[PRODUCAO_CIENTIFICA_TECNOLOGICA] [int] NULL,
	[ID_CURSO] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BIBLIOGRAFIAS]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BIBLIOGRAFIAS](
	[ID_BIBLIOGRAFIA] [int] NOT NULL,
	[BIBLIOGRAFIA1] [varchar](50) NULL,
	[BIBLIOGRAFIA2] [varchar](50) NULL,
	[BIBLIOGRAFIA3] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRONOGRAMAS_ATIVIDADES]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRONOGRAMAS_ATIVIDADES](
	[ID_CRONOGRAMA] [int] IDENTITY(1,1) NOT NULL,
	[N_AULA] [int] NULL,
	[DESCRICAO] [varchar](100) NULL,
 CONSTRAINT [PK_CRONOGRAMAS_ATIVIDADES] PRIMARY KEY CLUSTERED 
(
	[ID_CRONOGRAMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CURSOS]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CURSOS](
	[ID_CURSO] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_CURSO] [varchar](50) NULL,
	[MODALIDADE] [varchar](50) NULL,
	[DENOMINACAO_CURSO] [varchar](50) NULL,
	[HABILITACAO] [varchar](50) NULL,
	[LOCAL_OFERTA] [varchar](50) NULL,
	[TURNO] [varchar](50) NULL,
	[NUMERO_DE_VAGAS] [int] NULL,
	[CARGA_HORARIA] [int] NULL,
	[REGIME_LETIVO] [varchar](50) NULL,
	[QUANTIDADE_DE_PERIODOS] [int] NULL,
	[ID_COORDENADOR] [int] NULL,
	[IDPPC] [int] NULL,
 CONSTRAINT [PK_CURSOS] PRIMARY KEY CLUSTERED 
(
	[ID_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CURSOS_DISCIPLINAS]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSOS_DISCIPLINAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CURSO] [int] NULL,
	[ID_DISCIPLINA] [int] NULL,
 CONSTRAINT [PK_CURSOS_DISCIPLINAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DISCIPLINAS]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISCIPLINAS](
	[ID_DISCIPLINA] [int] IDENTITY(1,1) NOT NULL,
	[NOME_DISCIPLINA] [varchar](50) NULL,
	[CARGA_HORARIA] [int] NULL,
	[QUANTIDADE_SEMESTRES] [int] NULL,
 CONSTRAINT [PK_DISCIPLINAS] PRIMARY KEY CLUSTERED 
(
	[ID_DISCIPLINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LIVROS]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIVROS](
	[ID_LIVRO] [int] NOT NULL,
	[TITULO] [varchar](50) NOT NULL,
	[AUTOR] [varchar](50) NOT NULL,
	[EDICAO] [varchar](50) NULL,
	[ISBN] [varchar](50) NOT NULL,
	[QUANT_DISPONIVEL] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MATRIZES_CURRICULARES]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRIZES_CURRICULARES](
	[ID_MATRIZ_CURRICULAR] [int] NOT NULL,
	[ID_CURSO] [int] NOT NULL,
	[ID_DISCIPLINA] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERFIL](
	[ID_PERFIL] [int] NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PERFIL] PRIMARY KEY CLUSTERED 
(
	[ID_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PLANOS_DE_ENSINO]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PLANOS_DE_ENSINO](
	[ID_PLANO_DE_ENSINO] [int] NOT NULL,
	[ID_CURSO] [int] NOT NULL,
	[ANO] [date] NULL,
	[SEMESTRE] [int] NULL,
	[ID_DISCIPLINA] [int] NULL,
	[PERIODO_CURSO] [int] NULL,
	[CARGA_HORARIA_SEMESTRAL] [time](7) NULL,
	[ID_PROFESSOR] [int] NULL,
	[EMENTA] [varchar](50) NULL,
	[COMPETEN_HABILIDADES] [varchar](50) NULL,
	[METODOLOGIA] [varchar](50) NULL,
	[RECURSOS] [varchar](50) NULL,
	[CRONOGRAMA_DE_ATIVI] [varchar](50) NULL,
	[AVALIACAO] [int] NULL,
	[BIBLIOGRAFIA_BASICA] [varchar](100) NULL,
	[BIBLIOGRAFIA_COMPLEM] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PPC]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PPC](
	[ID_PPC] [int] IDENTITY(1,1) NOT NULL,
	[PERFIL_DO_CURSO] [varchar](50) NULL,
	[PERFIL_DO_EGRESSO] [varchar](50) NULL,
	[FORMA_DE_ACESSO] [varchar](50) NULL,
	[REPRES_GRAF_PERFIL_FOR] [varchar](50) NULL,
	[SIST_AVAL_PROC_ENS_APREN] [nchar](100) NULL,
	[SIST_AVAL_PROC_CURSO] [varchar](50) NULL,
	[TCC] [varchar](100) NULL,
	[ESTAGIO_CURRICULAR] [varchar](50) NULL,
	[PRATICA_ATENDIMENTO_PCD] [varchar](50) NULL,
	[ID_CURSO] [int] NULL,
 CONSTRAINT [PK_PPC] PRIMARY KEY CLUSTERED 
(
	[ID_PPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PUBLICACOES_PROFESSOR]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PUBLICACOES_PROFESSOR](
	[ID_PUBLICACAO] [int] NOT NULL,
	[NOME_PUBLICACAO] [varchar](100) NULL,
	[LOCAL_PUCLICACAO] [varchar](100) NULL,
	[DATA_PUBLICACAO] [date] NULL,
	[ID_USUARIO] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 17/10/2018 18:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_USUARIO] [varchar](50) NOT NULL,
	[CPF] [varchar](15) NOT NULL,
	[MAIOR_TITULACAO] [varchar](100) NULL,
	[AREA_FORMACAO] [varchar](100) NULL,
	[CURRICULO] [varchar](100) NULL,
	[DATA_ATUALIZACAO_CURRICULO] [date] NULL,
	[ID_PERFIL] [int] NOT NULL,
	[SENHA] [varchar](8) NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AVALIACOES_CURSO]  WITH CHECK ADD  CONSTRAINT [FK_AVALIACOES_CURSO_CURSOS] FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[CURSOS] ([ID_CURSO])
GO
ALTER TABLE [dbo].[AVALIACOES_CURSO] CHECK CONSTRAINT [FK_AVALIACOES_CURSO_CURSOS]
GO
ALTER TABLE [dbo].[CURSOS]  WITH CHECK ADD  CONSTRAINT [FK_CURSOS_PPC] FOREIGN KEY([IDPPC])
REFERENCES [dbo].[PPC] ([ID_PPC])
GO
ALTER TABLE [dbo].[CURSOS] CHECK CONSTRAINT [FK_CURSOS_PPC]
GO
ALTER TABLE [dbo].[CURSOS_DISCIPLINAS]  WITH CHECK ADD  CONSTRAINT [FK_CURSOS_DISCIPLINAS_CURSOS] FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[CURSOS] ([ID_CURSO])
GO
ALTER TABLE [dbo].[CURSOS_DISCIPLINAS] CHECK CONSTRAINT [FK_CURSOS_DISCIPLINAS_CURSOS]
GO
ALTER TABLE [dbo].[CURSOS_DISCIPLINAS]  WITH CHECK ADD  CONSTRAINT [FK_CURSOS_DISCIPLINAS_DISCIPLINAS] FOREIGN KEY([ID_DISCIPLINA])
REFERENCES [dbo].[DISCIPLINAS] ([ID_DISCIPLINA])
GO
ALTER TABLE [dbo].[CURSOS_DISCIPLINAS] CHECK CONSTRAINT [FK_CURSOS_DISCIPLINAS_DISCIPLINAS]
GO
ALTER TABLE [dbo].[CURSOS_DISCIPLINAS]  WITH CHECK ADD  CONSTRAINT [FK_CURSOS_DISCIPLINAS_DISCIPLINAS1] FOREIGN KEY([ID_DISCIPLINA])
REFERENCES [dbo].[DISCIPLINAS] ([ID_DISCIPLINA])
GO
ALTER TABLE [dbo].[CURSOS_DISCIPLINAS] CHECK CONSTRAINT [FK_CURSOS_DISCIPLINAS_DISCIPLINAS1]
GO
ALTER TABLE [dbo].[MATRIZES_CURRICULARES]  WITH CHECK ADD  CONSTRAINT [FK_MATRIZES_CURRICULARES_CURSOS] FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[CURSOS] ([ID_CURSO])
GO
ALTER TABLE [dbo].[MATRIZES_CURRICULARES] CHECK CONSTRAINT [FK_MATRIZES_CURRICULARES_CURSOS]
GO
ALTER TABLE [dbo].[MATRIZES_CURRICULARES]  WITH CHECK ADD  CONSTRAINT [FK_MATRIZES_CURRICULARES_DISCIPLINAS] FOREIGN KEY([ID_DISCIPLINA])
REFERENCES [dbo].[DISCIPLINAS] ([ID_DISCIPLINA])
GO
ALTER TABLE [dbo].[MATRIZES_CURRICULARES] CHECK CONSTRAINT [FK_MATRIZES_CURRICULARES_DISCIPLINAS]
GO
ALTER TABLE [dbo].[PLANOS_DE_ENSINO]  WITH CHECK ADD  CONSTRAINT [FK_PLANOS_DE_ENSINO_CURSOS] FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[CURSOS] ([ID_CURSO])
GO
ALTER TABLE [dbo].[PLANOS_DE_ENSINO] CHECK CONSTRAINT [FK_PLANOS_DE_ENSINO_CURSOS]
GO
ALTER TABLE [dbo].[PLANOS_DE_ENSINO]  WITH CHECK ADD  CONSTRAINT [FK_PLANOS_DE_ENSINO_DISCIPLINAS] FOREIGN KEY([ID_DISCIPLINA])
REFERENCES [dbo].[DISCIPLINAS] ([ID_DISCIPLINA])
GO
ALTER TABLE [dbo].[PLANOS_DE_ENSINO] CHECK CONSTRAINT [FK_PLANOS_DE_ENSINO_DISCIPLINAS]
GO
ALTER TABLE [dbo].[PLANOS_DE_ENSINO]  WITH CHECK ADD  CONSTRAINT [FK_PLANOS_DE_ENSINO_USUARIOS] FOREIGN KEY([ID_PROFESSOR])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PLANOS_DE_ENSINO] CHECK CONSTRAINT [FK_PLANOS_DE_ENSINO_USUARIOS]
GO
ALTER TABLE [dbo].[PUBLICACOES_PROFESSOR]  WITH CHECK ADD  CONSTRAINT [FK_PUBLICACOES_PROFESSOR_USUARIOS] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PUBLICACOES_PROFESSOR] CHECK CONSTRAINT [FK_PUBLICACOES_PROFESSOR_USUARIOS]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_PERFIL] FOREIGN KEY([ID_PERFIL])
REFERENCES [dbo].[PERFIL] ([ID_PERFIL])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_PERFIL]
GO
USE [master]
GO
