/*
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*cornflowerblue*/
.titulo {
    color:white;
    background-color:steelblue;
    text-align:center;
    box-shadow:inherit;
    border:solid;
}

#tabelaescondida {
    display:none;
}

.lista-cursos {
    font-size: medium;
}

.telaPrincipal{
    padding-top:8px;
}

.navPermanente {
    background-color:grey;
}

.titulopermanente{
    color:white;
    font-size:30px;
}

.ajustarBotao {
    margin-top:25px;
}

.pull-left-ajuste {
    font-size: 35px;
    
}

.espaco{
    margin-left:8px;
}

/*https://adminlte.io/ */

