<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/14261a55-f538-474a-af15-02c2b59abda3/resourcegroups/Docs40f4/providers/Microsoft.Web/sites/SISTEMAPPC</ResourceId>
    <ResourceGroup>Docs40f4</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sistemappc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sistemappc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SISTEMAPPC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SISTEMAPPC</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sistemappcdesenvolvimento.database.windows.net,1433;Initial Catalog=PPC;Persist Security Info=False;User ID={ServerAdmin@sistemappcdesenvolvimento};Password={Server-1};Encrypt=True" Name="Data Source=tcp:sistemappcdesenvolvimento.database.windows.net,1433;Initial Catalog=PPC;Persist Security Info=False;User ID={ServerAdmin@sistemappcdesenvolvimento};Password={Server-1};MultipleActiveResultSets=True;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:sistemappcdesenvolvimento.database.windows.net,1433;Initial Catalog=PPC;Persist Security Info=False;User ID={ServerAdmin@sistemappcdesenvolvimento};Password={Server-1};Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:sistemappcdesenvolvimento.database.windows.net,1433;Initial Catalog=PPC;Persist Security Info=False;User ID={ServerAdmin@sistemappcdesenvolvimento};Password={Server-1};MultipleActiveResultSets=true;Encrypt=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sistemappcdesenvolvimento.database.windows.net,1433;Initial Catalog=PPC;Persist Security Info=False;User ID={ServerAdmin@sistemappcdesenvolvimento};Password={Server-1};MultipleActiveResultSets=True;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>