
@{
    ViewBag.Title = "CadastroPPC";
}

<div class="jumbotron">
    <div class="titulo">
        <h2>Cadastro de PPC (Projeto Pedagógico de Curso)</h2>
    </div>
    <div>
        <div class="container-fluid">
            <div class="form-group">
                <form>
                    <div class="form-group  col-md-12">
                        <label>Cursos</label>
                        <select class="form-control">
                            <option>Curso 1</option>
                            <option>Curso 1</option>
                            <option>Curso 1</option>
                            <option>Curso 1</option>
                            <option>Curso 1</option>
                        </select>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Perfil Cursos</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Perfil do Egresso</label>
                            <input class="form-control" />
                        </div>
                    </div>

                    <br />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Forma de Acesso ao Curso:</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Representação gráfica de um perfil de Formação:</label>
                            <input class="form-control" />
                        </div>
                    </div>

                    <br />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Sistema de Avaliação do Processo Ensino Aprendizagem:</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Sistema de Avaliação do Projeto do Curso:</label>
                            <input class="form-control" />
                        </div>
                    </div>

                    <br />
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Trabalho de Conclusão de Curso:</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label>Estágio Curricular:</label>
                            <input class="form-control" />
                        </div>
                    </div>

                    <div class="form-row col-md-12">
                        <div class="form-group">
                            <label>Politica de Atendimento a Pessoas com Deficiencia e/ou Mobilidade Reduzida:</label>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-primary">Salvar</button>
                        <button class="btn btn-warning">Alterar</button>
                        <button class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

