
@{
    ViewBag.Title = "CadastroPPC";
}

<h2>CadastroPPC</h2>
<div>
    <div class="container-fluid">
        <div class="form-group">
            <form>
                <label>Cursos</label>
                <select class="form-control">
                    <option>Curso 1</option>
                    <option>Curso 1</option>
                    <option>Curso 1</option>
                    <option>Curso 1</option>
                    <option>Curso 1</option>
                </select>
                <br />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Perfil Cursos</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Perfil do Egresso</label>
                        <input class="form-control" />
                    </div>
                </div>

                <br />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Forma de Acesso ao Curso:</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Representação gráfica de um perfil de Formação:</label>
                        <input class="form-control" />
                    </div>
                </div>

                <br />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Sistema de Avaliação do Processo Ensino Aprendizagem:</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Sistema de Avaliação do Projeto do Curso:</label>
                        <input class="form-control" />
                    </div>
                </div>

                <br />
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Trabalho de Conclusão de Curso:</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Estágio Curricular:</label>
                        <input class="form-control" />
                    </div>
                </div>

                <div class="form-row col-md-12">
                    <div class="form-group">
                        <label>Politica de Atendimento a Pessoas com Deficiencia e/ou Mobilidade Reduzida:</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>


            </form>



        </div>


    </div>




</div>

