
@{
    ViewBag.Title = "CadastroPPC";
}



    <section class="content-header">
        <h1>
            PPCs
            <small>Todos os PPCs</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">PPC</a></li>
            <li class="active">Novo PPC</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Todos os PPCs</h3>
                    </div>
                    <form role="form">
                        <div class="box-body">
                            <div class="form-group col-xs-5">
                                <label>Cursos</label>
                                <select class="form-control">
                                    <option>Curso 1</option>
                                    <option>Curso 1</option>
                                    <option>Curso 1</option>
                                    <option>Curso 1</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-6 pull-right">
                                <label>Perfil Curso:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Perfil Egresso:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Forma de Acesso Curso:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Representação Gráfica de um perfil de Formação:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Sistema de Avaliação do Processo Ensino Aprendizagem:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Sistema de Avaliação do Projeto do Curso:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-xs-3">
                                <label>TCC</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-xs-3">
                                <label>Estágio Curricular:</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Políticas de Atendimento a Pessoas com Deficiências e/ou Mobilidade Reduzida:</label>
                                <textarea class="form-control" rows="3" placeholder="Texto ..."></textarea>
                            </div>
                            <div class="form-group col-xs-12">
                                <button class="btn btn-primary pull-right espaco">Salvar</button>
                                <button class="btn btn-warning pull-right">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
