
@{
    ViewBag.Title = "CadastroPPC";
}



    <section class="content-header">
        <h1>
            PPCs
            <small>Todos os PPCs</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">PPC</a></li>
            <li class="active">Novo Curso</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Todos os PPCs</h3>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>


