@model PPC_1.Models.Curso 
@{
    ViewBag.Title = "Cadastro_de_Curso";
}
<section class="content-header">
    <h1>
        Cursos
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Curso</a></li>
        <li class="active">Novo Curso</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cadastrar Cursos</h3>
                </div>
                <form role="form" action="/Home/NovoCurso">
                    <div class="box-body">
                        <div class="form-group col-xs-6">
                            <label>Tipo do Curso</label>
                            @Html.TextBoxFor(x => x.TipoDeCurso, new { @class = "form-control", type = "text", placeholder="Tipo ..." })
                        </div>
                        <div class="form-group col-xs-6 pull-right">
                            <label>Modalidade:</label>
                            <input type="text" class="form-control" placeholder="Modalidade ..." />
                        </div>
                        <div class="form-group col-xs-12">
                            <label>Denominação do Curso:</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Habilitação:</label>
                            <input type="text" class="form-control" placeholder="Habilitação ..." />
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Local de Oferta:</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Turnos de Funcionamento:</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Números de vagas para cada turno:</label>
                            <input type="number" class="form-control" />
                        </div>
                        <div class="form-group col-xs-12">
                            <label>Carga Horária do Curso</label>
                            <input type="number" class="form-control-static" maxlength="10" />
                        </div>
                        <div class="form-group col-xs-12">
                            <h4>Estrutura Curricular</h4>
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Regime Letivo:</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Periodos:</label>
                            <input class="form-control" placeholder="Texto ..." />
                        </div>
                        <div class="form-group col-xs-12">
                            <h4>Coordenador do Curso</h4>
                        </div>
                        <div class="form-group col-xs-10">
                            <label>Nome</label>
                            <select class="form-control">
                                <option>NOME1</option>
                                <option>NOME1</option>
                                <option>NOME1</option>
                                <option>NOME1</option>
                                <option>NOME1</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-2">
                            <a class="form-control btn btn-info">Cadastrar novo Coordenador</a>
                        </div>
                        <div class="form-group col-xs-5">
                            <label>CPF</label>
                            <input type="number" class="form-control" readonly />
                        </div>
                        <div class="form-group col-xs-7">
                            <label>Titulação</label>
                            <input type="text" class="form-control" readonly />
                        </div>
                        <div class="form-group col-xs-5">
                            <label>Tempo de Dedicação</label>
                            <input type="text" class="form-control" readonly />
                        </div>
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-primary pull-right espaco">Salvar</button>
                            <button class="btn btn-warning pull-right espaco">Cancelar</button>
                            <button href="/Home/ConsultarCurso" class="btn btn-info pull-right espaco">Voltar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
